<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments.html::head"></head>
<body>
<div class="container">
    <div th:replace="fragments.html::main_nav"></div>
    <div th:if="${notExist == true}" class="row justify-content-center">
        <div class="col-md-6 py-5">
            <h1>존재하지 않는 계정입니다.</h1>
        </div>
    </div>
    <div th:if="${notExist == null}">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="mt-5 mb-4">
                    <h1 th:text="${profileMember.nickname}"></h1>
                </div>
                <p>
                    <i class="bi bi-person-lines-fill"></i>
                    <label>자기 소개 : </label>
                    <small th:if="${profileMember.introduce == ''}">자기 소개를 작성해주세요!</small>
                    <span th:text="${profileMember.introduce}"></span>
                </p>

                <p>
                    <i class="bi bi-calendar-event"></i>
                    <label>가입 날짜 : </label>
                    <small th:if="${profileMember.joinedAt == null}">이메일 인증을 완료해주세요.</small>
                    <small th:if="${profileMember.joinedAt != null}" th:text="${#temporals.format(profileMember.joinedAt,'yyyy-MM-dd')}"></small>
                </p>
                <p>
                    <i class="bi bi-journal-text"></i>
                    <label>작성한 포스트 : </label>
                    <small th:text="|${writtenPosts} 개|"></small>
                </p>
                <p>
                    <i class="bi bi-pencil-square"></i>
                    <label>작성한 댓글 : </label>
                    <small>준비 중입니다.</small>
                    <!--<small th:text="|${writtenComments} 개|"></small>-->
                </p>
                <div th:if="${owner == true}" class="text-end py-5">
                    <a th:href="@{/setting/profile}"><button class="btn btn-primary">계정 설정하기</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>