<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments.html::head"></head>
<body>
    <div class="container">
        <div th:replace="fragments.html::main_nav"></div>
        <h1 class="text-center">재생목록 작성하기</h1>
        <div class="row justify-content-center py-5">
            <div class="col-md-6">
                <form th:action="@{/posts/create}" method="post" th:object="${postsForm}">
                    <div class="pb-4">
                        <small for="title">제목</small>
                        <input class="form-control" id="title" th:field="*{title}"/>
                    </div>
                    <div class="pb-4">
                        <small for="description">설명</small>
                        <input class="form-control" id="description" th:field="*{description}"/>
                    </div>
                    <div class="container border" id="content">

                    </div>
                    <button class="btn btn-primary" type="submit">작성 완료</button>
                </form>
                <button id="yt_playlist_btn" type="button" class="btn btn-danger mt-3">유튜브 재생목록 추가</button>
            </div>
        </div>

    </div>
<script type="application/javascript" th:inline="javascript">
    var count = 0;
    $(document).ready(function(){
         $("#yt_playlist_btn").click(function(){
             var playlist = '<div id="playlist'+count+'" class="accordion py-5">\
                            <div class="accordion-item">\
                                <h2 class="accordion-header">\
                                    <button class="accordion-button collapsed bg-danger" type="button" data-bs-toggle="collapse" id="accordion'+count+'"\
                                            data-bs-target="#flush-collapse'+count+'" aria-expanded="false" aria-controls="flush-collapse'+count+'">\
                                        <input type="text" value="Y" name="playlistsForm.playlistType" hidden/>\
                                        <div class="row">\
                                            <label class="text-white">제목</label>\
                                            <input class="form-control col-md-6" type="text" name="playlistsForm.playlistTitle"/>\
                                            <label class="text-white">설명</label>\
                                            <input class="form-control" type="text" name="playlistsForm.playlistDescription"/>\
                                        </div>\
                                    </button>\
                                </h2>\
                                <div id="flush-collapse'+count+'" class="accordion-collapse collapse" data-bs-parent="#accordion'+count+'">\
                                    <div class="accordion-body row" id="playlistBody'+count+'">\
                                        <div>\
                                            <button class="btn btn-primary mb-2" id="playlist'+ count +'add_link_btn" type="button">링크 추가</button>\
                                            <button class="btn btn-danger mb-2" id="playlist'+count+'remove_link_btn" type="button">아래부터 삭제</button>\
                                        </div>\
                                    </div>\
                                </div>\
                            </div>\
                        </div>';


             $('#content').append(playlist);
             addLinkList(count);
             removeLinkList(count);

             count = count + 1;
        });
    });
    function addLinkList(index){
        $('#playlist'+index+'add_link_btn').click(function(){
              var addLink = '<div id="playlistLink'+index+'">\
                                    <input class="form-control mb-2" type="text" name="playlistsForms.links"/>\
                               </div>';

              $('#playlistBody'+index).append(addLink);
         });
    }
     function removeLinkList(index){
        $('#playlist'+index+'remove_link_btn').click(function(){
              $('#playlistLink'+index+':last-child').remove();
         });
    }
</script>
</body>
</html>