<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments.html::head"></head>
<body>
    <div class="container">
        <div th:replace="fragments.html::main_nav"></div>

        <div class="row justify-content-center my-5">

            <div class="row col-md-10 mb-3">
                <div class="col">
                    <i class="bi bi-lg bi-play-btn-fill me-2" style="font-size:30px; "></i><text class="fs-2" th:text="${posts.title}"></text>
                </div>
                <div class="mb-1 mx-3">
                    <i class="bi bi-person me-2"></i><span th:text="${posts.postsOwner.nickname}"></span>
                </div>
                <div class="mb-1 mx-3">
                    <i class="bi bi-clock me-1"></i>
                    <span class="col-md-3 me-3" th:text="|작성일 : ${#temporals.format(posts.createdAt,'yyyy-MM-dd HH:mm')}|"></span>
                </div>
                <div class="mb-1 mx-3">
                    <i class="bi bi-clock-history me-1"></i>
                    <span class="col-md-3" th:text="|수정일 : ${#temporals.format(posts.modifiedAt,'yyyy-MM-dd HH:mm')}|"></span>
                </div>
                <hr class="mt-2"/>
            </div>
            <div class="row col-md-10">
                <div class="border col-8 bg-dark rounded">
                    <div class="alert alert-primary mt-5" role="alert">
                        <small th:if="${posts.description}!=''" th:text="${posts.description}"></small>
                        <small th:unless="${posts.description}!=''">플레이리스트에 대한 설명이 없습니다.</small>
                    </div>
                    <div id="playerPlaceHolder">

                    </div>

                </div>
                <div class="border col-4 rounded">
                    <button type="button" class="btn btn-danger mt-3" th:if="${owner}==true" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        삭제하기
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog  modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">모든 플레이리스트 삭제</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    정말로 삭제하시겠습니까?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>

                                    <form th:action="|/posts/${posts.id}/remove|" method="post">
                                        <button class="btn btn-danger" type="submit">삭제하기</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <th:block th:each="playlist,playlistStat : ${posts.playlists}">
                        <button class="btn w-100 my-4" type="button" th:id="|playlist_${playlistStat.index}|"
                                th:classappend="${playlist.playlistType} == Y? btn-outline-danger:btn-outline-success">
                            <div class="container">
                                <b><small class="row" th:text="${playlist.title}">플레이리스트 제목</small></b>
                                <small class="row mt-3" th:text="${playlist.description}">플레이리스트 설명</small>
                            </div>
                        </button>
                    </th:block>
                </div>
            </div>
        </div>

    </div>


    <script type="application/javascript" th:inline="javascript">
        var totalItems;
        var currentIndex;
        $(document).ready(function(){
            [# th:each="playlist,playlistStat : ${posts.playlists}"]
                $('#playlist_[[${playlistStat.index}]]').click(function(){
                    replacePlaylist([[${playlist.links}]],[[${playlistStat.index}]])
                });
            [/]

        });


        function replacePlaylist(links,index){
            var playlist = '<div id="myCarousel" class="carousel slide"  data-bs-interval="false" data-bs-ride="carousel">\
                        <div class="carousel-inner">';
            $.each (links, function (index, link) {
                var isActive = 'carousel-item';
                var src;

                if(link.link.includes('youtube')){
                    src = link.link.replace('watch?v=','embed/');
                    var isList = src.indexOf('&list=');
                    if(isList != -1){
                        src = src.slice(0,isList)+'?listType=playlist'+ src.slice(isList);
                    }
                }
                else if(link.link.includes('tv.naver')){
                    if(link.link.includes('/l/')){
                        src = link.link + '/sharePlayer';
                    }
                    else{
                        src = link.link.replace('/v/','/embed/');
                    }
                    var isList = src.indexOf('/list/');
                    if(isList != -1){
                        src = src.slice(0,isList);
                    }
                }
                else{
                    if(link.link.startsWith('PL')){
                        src = 'https://www.youtube.com/embed/?listType=playlist&list=' + link.link;
                    }
                    else{
                        src = 'https://www.youtube.com/embed/' + link.link;
                    }
                }
                if(index === 0){
                    isActive += ' active';
                }

                playlist +=
                '<div class="'+isActive+'">\
                    <span>\
                        <iframe class="d-block w-100" type="text/html" width="640" height="500"\
                           src="'+src+'"\
                           frameborder="0"\
                           allowfullscreen></iframe>\
                    </span>\
                </div>';
            });


            playlist += '</div>\
                <div class="row justify-content-center">\
                    <button id="prev" class="btn col-1 bg-transparent" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">\
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>\
                        <span class="visually-hidden">Previous</span>\
                    </button>\
                    <span id="carousel-index" class="col-1 text-white text-center pt-2">i/d</span>\
                    <button id="next" class="btn col-1 bg-transparent" type="button" data-bs-target="#myCarousel" data-bs-slide="next">\
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>\
                        <span class="visually-hidden">Next</span>\
                    </button>\
                </div>\
            </div>';

            $('#playerPlaceHolder *').remove();
            $('#playerPlaceHolder').append(playlist);


            totalItems = $('.carousel-item').length;
            currentIndex =$('div.carousel-item.active').index() + 1;

            $('#carousel-index').text(''+currentIndex+'/'+totalItems+'');

            $("#next").click(function(){
                if(totalItems == 1) return;
                currentIndex = $('div.carousel-item.carousel-item-next').index()+1;
                $('#carousel-index').text(''+currentIndex+'/'+totalItems+'');
            });

            $("#prev").click(function(){
                if(totalItems == 1) return;
                currentIndex = $('div.carousel-item.carousel-item-prev').index()+1;
                $('#carousel-index').text(''+currentIndex+'/'+totalItems+'');
            });
        }
    </script>
</body>
</html>