<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments.html::head"></head>
<body>
<div class="container">
    <div th:replace="fragments.html::main_nav"></div>
    <div class="row py-5">
        <div class="col-md-2">
            <div th:replace="fragments.html::setting_menu (currentMenu='profile')"></div>
        </div>
        <div class="col-md-6">
            <div th:if="${message != null}" class="row alert alert-primary mb-2" role="alert">
                <text class="col" th:text="${message}"></text>
                <button type="button" class="col-2 btn-close text-end" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <form method="post" th:action="@{/setting/profile}" th:object="${profileForm}">
                <label for="introduce">자기소개를 입력해주세요.</label>
                <input class="form-control mb-3" id="introduce" type="text" th:field="*{introduce}"/>
                <small class="text-danger" th:if="${#fields.hasErrors('introduce')}" th:errors="*{introduce}">20자 이내로 입력해주세요.</small>
                <div class="text-end">
                    <button class="btn btn-primary" type="submit">변경하기</button>
                </div>
            </form>
        </div>

    </div>

</div>

</body>
</html>