<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments.html::head"></head>
<body>
    <div class="container">
        <div th:replace="fragments.html::main_nav"></div>
        <div th:if="${message != null}" class="row alert alert-primary mb-2" role="alert">
            <text class="col" th:text="${message}"></text>
            <button type="button" class="col-2 btn-close text-end" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div th:if="${error != null}" class="row alert alert-danger mb-2" role="alert">
            <text class="col" th:text="${error}"></text>
            <button type="button" class="col-2 btn-close text-end" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="row">
            <div class="container col-8">
                <th:block th:each="post,postsStat : ${posts}">
                    <div class="row mb-4">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" th:id="|posts${postsStat.index}|">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            th:data-bs-target="|#collapse${postsStat.index}|" aria-expanded="false">
                                        <div class="row">
                                            <div class="col mb-1">
                                                <i class="bi bi-play-btn-fill"></i>
                                                <text class="fs-5" th:text="${post.title}"></text>
                                            </div>
                                            <div class="mb-2">
                                                <i class="bi bi-person"> <span th:text="${post.postsOwner.nickname}"></span></i>
                                            </div>
                                            <div>
                                                <i class="bi bi-clock"></i>
                                                <span class="col-md-3 me-3" th:text="|${#temporals.format(post.createdAt,'yyyy-MM-dd HH:mm:ss')}|"></span>
                                                <i class="bi bi-clock-history"></i>
                                                <span class="col-md-3" th:text="|${#temporals.format(post.modifiedAt,'yyyy-MM-dd HH:mm:ss')}|"></span>
                                            </div>
                                        </div>
                                    </button>
                                </h2>
                                <div th:id="|collapse${postsStat.index}|" class="accordion-collapse collapse" th:data-bs-parent="|#posts${postsStat.index}|">
                                    <div class="accordion-body bg-black border rounded-bottom border-dark">
                                        <div th:id="|myCarousel${postsStat.index}|" class="carousel slide"  data-bs-interval="false" data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                <th:block th:each="playlist,playlistStat : ${post.playlists}">
                                                    <th:block th:each="link,linkStat : ${playlist.links}">
                                                        <div class="carousel-item" th:classappend="${playlistStat.index == 0 && linkStat.index  == 0}? active : ''">
                                                            <th:block th:if="${#strings.startsWith(link.link,'https://')}">
                                                                <span th:if="${#strings.contains(link.link,'tv.naver')}">
                                                                    <th:block th:if="${#strings.contains(link.link,'/list/')}">
                                                                        <iframe class="d-block w-100" type="text/html" width="640" height="500"
                                                                                th:src="${#strings.substringBefore(#strings.replace(link.link,'/v/','/embed/'),'/list')}"
                                                                                frameborder="0"
                                                                                allowfullscreen></iframe>
                                                                    </th:block>
                                                                    <th:block th:unless="${#strings.contains(link.link,'/list/')}">
                                                                        <iframe class="d-block w-100" type="text/html" width="640" height="500"
                                                                                th:if="${#strings.contains(link.link,'/v/')}"
                                                                                th:src="${#strings.replace(link.link,'/v/','/embed/')}"
                                                                                frameborder="0"
                                                                                allowfullscreen></iframe>
                                                                        <iframe class="d-block w-100" type="text/html" width="640" height="500"
                                                                                th:if="${#strings.contains(link.link,'/l/')}"
                                                                                th:src="${#strings.append(link.link,'/l/','/sharePlayer')}"
                                                                                frameborder="0"
                                                                                allowfullscreen></iframe>
                                                                    </th:block>
                                                                </span>
                                                                <span th:if="${#strings.contains(link.link,'youtube')}">
                                                                     <span th:if="${#strings.contains(link.link,'&list=')}">
                                                                       <iframe class="d-block w-100" type="text/html" width="640" height="500"
                                                                               th:src="|https://www.youtube.com/embed/?listType=playlist&list=${#strings.substringAfter(link.link,'&list=')}|"
                                                                               frameborder="0"
                                                                               allowfullscreen></iframe>
                                                                    </span>
                                                                    <span th:unless="${#strings.contains(link.link,'&list=')}">
                                                                        <iframe class="d-block w-100" type="text/html" width="640" height="500"
                                                                                th:src="${#strings.replace(link.link,'watch?v=','embed/')}"
                                                                                frameborder="0"
                                                                                allowfullscreen></iframe>
                                                                    </span>
                                                                </span>
                                                            </th:block>
                                                            <th:block th:unless="${#strings.startsWith(link.link,'https://')}">
                                                                <span th:if="${#strings.startsWith(link.link,'PL')}">
                                                                   <iframe class="d-block w-100" type="text/html" width="640" height="500"
                                                                           th:src="|https://www.youtube.com/embed/?listType=playlist&list=${link.link}|"
                                                                           frameborder="0"
                                                                           allowfullscreen></iframe>
                                                                </span>
                                                                <span th:unless="${#strings.startsWith(link.link,'PL')}">
                                                                    <iframe class="d-block w-100" type="text/html" width="640" height="500"
                                                                            th:src="|https://www.youtube.com/embed/${link.link}|"
                                                                            frameborder="0"
                                                                            allowfullscreen></iframe>
                                                                </span>
                                                            </th:block>
                                                        </div>
                                                    </th:block>
                                                </th:block>
                                            </div>
                                            <div class="row justify-content-center">
                                                <button class="btn col-1 bg-transparent" type="button" th:data-bs-target="|#myCarousel${postsStat.index}|" data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </button>
                                                <button class="btn col-1 bg-transparent" type="button" th:data-bs-target="|#myCarousel${postsStat.index}|" data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </button>
                                            </div>
                                        </div>

                                        <a class="btn btn-primary float-end" th:href="@{|/posts/${post.id}|}">열람하기</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </th:block>
            </div>
            <div class="container col-4"></div>
        </div>
        <nav aria-label="Page navigation" th:if="${totalPage!=null}">
            <ul class="pagination justify-content-center">
                <th:block th:each="pageNum :  ${#numbers.sequence(1,totalPage)}">
                    <li class="page-item"><a class="page-link" th:href="|/?page=${pageNum-1}|" th:text="${pageNum}"></a></li>
                </th:block>
            </ul>
        </nav>
    </div>
</body>
</html>